# Firebase Configuration Keys
VITE_FIREBASE_API_KEY=AIzaSyBTi0bumLw0vhmJomrn8Ov0aCs7x4mM1dk
VITE_FIREBASE_AUTH_DOMAIN=groupstudy-4ed1f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=groupstudy-4ed1f
VITE_FIREBASE_STORAGE_BUCKET=groupstudy-4ed1f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=823878602732
VITE_FIREBASE_APP_ID=1:823878602732:web:57bb81d0845a925b5b3ac9
VITE_FIREBASE_MEASUREMENT_ID=G-RVVXFMMTGK
